# Global configurations
SECRET_KEY=django-insecure-some-very-secret-key-12345
DEBUG=True

# Database Credentials
DB_USER=ecom_user
DB_PASSWORD=ecom_password
MYSQL_ROOT_PASSWORD=root_password

# Neo4j Graph DB Credentials
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

# AI Service Settings (Gemini API Key)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Service URLs (Used for internal REST communication inside docker network)
USER_SERVICE_URL=http://user-service:8000
PRODUCT_SERVICE_URL=http://product-service:8000
CART_SERVICE_URL=http://cart-service:8000
ORDER_SERVICE_URL=http://order-service:8000
PAYMENT_SERVICE_URL=http://payment-service:8000
SHIPPING_SERVICE_URL=http://shipping-service:8000
AI_SERVICE_URL=http://ai-service:8000
